<a href="https://colab.research.google.com/github/ComputingUntangled/Python-for-Beginners/blob/main/List_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic working with List Data Types
Hello folks! In this tutorial, we will learn about the list datatypes, starting from some basic concepts, to using built-in functions available in Python.


As you can see, Python has many different datatypes, and list is just one of them. If you want to learn about all these different datatypes in Python, I have another tutorial video just for that. You can get the link to that video in the description down below. But in this tutorial, we will strictly work with list datatype.

In a nutshell, list is one of the most used datatype in Python and is very flexible. List is an ordered, mutable sequence of items, and is used to store multiple items in a single variable. 

before we begin, don't forget to hit the like and the subscribe button to get more content like this.

So, let's get into it and get some real valuable skill in working with list datatype.

In [ ]:
""" We use square brackets [ ] to create list in Python. 
Items in a list are separated by commas."""
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
""" single item list (also allows ending with a comma)   """
new_list = ["a,"]
print(new_list)
print(type(new_list))

## Creating a list using the list() Constructor

In [ ]:
my_tuple = (1, 2, 3)
my_list = list(my_tuple)  # using list() Constructor
print(my_tuple, type(my_tuple))
print(my_list, type(my_list))

(1, 2, 3) <class 'tuple'>
[1, 2, 3] <class 'list'>

## All the items in a list do not need to be of the same type.

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None, [1, 2]]
print(mixed_list)
print(len(mixed_list))

[100, 9.4, 'examples', '8.334', True, None, [1, 2]]
7

## Indexing in list and Accessing list items

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None, [1, 2]]
print(mixed_list[0])
print(mixed_list[3])
print(mixed_list[-1])
print(mixed_list[-3])
print(mixed_list[-1][1])  # Nested lists are accessed using nested indexing.

100
8.334
[1, 2]
True
2

## The list is mutable, and allow duplicate items

In [ ]:
mixed_list[-2] = 'STOP'
mixed_list[0] = mixed_list[5]
print(mixed_list)

[None, 9.4, 'examples', '8.334', 'STOP', None]

## The len() function 
to get the number of elements currently stored inside the list

In [ ]:
print(len(mixed_list))

6

## Keep IndexError in mind (index out of range)

In [ ]:
print(mixed_list[6])    # will give IndexError
print(mixed_list[-7])   # will give IndexError

## Check if Item Exists in list

In [ ]:
print("exists") if 'examples' in mixed_list else print("does not exist")

## The slicing operation with list

In [ ]:
print(mixed_list)
print(mixed_list[2:5]) # index 2 included and index 5 not included
print(mixed_list[0:5])
print(mixed_list[:5])
print(mixed_list[:-1])
print(mixed_list[-2:])
print(mixed_list[:])

# Techniques to update a list

## Using slicing technique to replace values in a list

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None]
mixed_list[1:2] = ["Y", "N"]  # Change the 2nd value by replacing it with 2 values
print(mixed_list)
mixed_list[1:3] = [9.4]  # Change the 2nd & 3rd values by replacing it with 1 value
print(mixed_list)

[100, 'Y', 'N', 'examples', '8.334', True, None]
[100, 9.4, 'examples', '8.334', True, None]

## Using slicing technique to empty a list.

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None, 'watermelon']
mixed_list[:] = []
print(mixed_list)
print(len(mixed_list))

[]
0

## Insert Items to an existing list
While we can change/replace a range of Item Values using slicing technique, to insert a new list item, without replacing any of the existing values, we can use the insert() method.

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None]
print(mixed_list)
print(len(mixed_list))

mixed_list.insert(2, "watermelon")
print(mixed_list)
print(len(mixed_list))

[100, 9.4, 'examples', '8.334', True, None]
6
[100, 9.4, 'watermelon', 'examples', '8.334', True, None]
7

## Using append() method to append item to the end of the list
e.g. add new contact to an existing contact list

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None]
print(mixed_list)
print(len(mixed_list))

mixed_list.append("watermelon")
print(mixed_list)
print(len(mixed_list))

[100, 9.4, 'examples', '8.334', True, None]
6
[100, 9.4, 'examples', '8.334', True, None, 'watermelon']
7

## Using remove() method to delete item from a list by item value
e.g. remove a username from a register using username value

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None]
print(mixed_list)
print(len(mixed_list))

mixed_list.remove(100)
print(mixed_list)
print(len(mixed_list))

[100, 9.4, 'examples', '8.334', True, None]
6
[9.4, 'examples', '8.334', True, None]
5

## Using pop() method to remove item from the end of the list
e.g. draw a card from top of a shuffled deck

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None, 'watermelon']
print(mixed_list)
print(len(mixed_list))

mixed_list.pop()
print(mixed_list)
print(len(mixed_list))

[100, 9.4, 'examples', '8.334', True, None, 'watermelon']
7
[100, 9.4, 'examples', '8.334', True, None]
6

## Using pop() method to remove item from a list by index value

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None, 'watermelon']
print(mixed_list)
print(len(mixed_list))

mixed_list.pop(5)
print(mixed_list)
print(len(mixed_list))

## using del keyword to remove item from a list by index value

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None, 'watermelon']
print(mixed_list)
print(len(mixed_list))

del mixed_list[5]
print(mixed_list)
print(len(mixed_list))

[100, 9.4, 'examples', '8.334', True, None, 'watermelon']
7
[100, 9.4, 'examples', '8.334', True, 'watermelon']
6

## using del keyword to remove a list completely

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None, 'watermelon']
print(mixed_list)
print(len(mixed_list))

del mixed_list
print(mixed_list)   # NameError

## Using clear() method to empty a list.

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None, 'watermelon']
print(mixed_list)
print(len(mixed_list))

mixed_list.clear()
print(mixed_list)
print(len(mixed_list))

[100, 9.4, 'examples', '8.334', True, None, 'watermelon']
7
[]
0

## Using extend() method to append/ extent a list with other iterables
e.g. add several items

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None, 'watermelon']
print(mixed_list)
print(len(mixed_list))

new_iterables = (1, 2)
mixed_list.extend(new_iterables)
print(mixed_list)
print(len(mixed_list))

[100, 9.4, 'examples', '8.334', True, None, 'watermelon']
7
[100, 9.4, 'examples', '8.334', True, None, 'watermelon', 1, 2]
9

## Concatenating/ joining 2 Lists using + operator
One of the easiest ways to jion 2 lists

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None, 'watermelon']
new_iterables = [1, 2, 3]
print(mixed_list + new_iterables)

## Sort List Alphanumerically

In [ ]:
mixed_list = ["examples", '8.334', 'watermelon']
print(mixed_list)

mixed_list.sort()
print(mixed_list)

# To sort descending, use the keyword argument reverse
mixed_list.sort(reverse = True) 
print(mixed_list)

['examples', '8.334', 'watermelon']
['8.334', 'examples', 'watermelon']
['8.334', 'examples', 'watermelon']

## Reverse the order of a list, regardless of the alphabet

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None, 'watermelon']
print(mixed_list)
print(len(mixed_list))

mixed_list.reverse()
print(mixed_list)
print(len(mixed_list))

[100, 9.4, 'examples', '8.334', True, None, 'watermelon']
7
['watermelon', None, True, '8.334', 'examples', 9.4, 100]
7

# Other useful functions

## copy

In [ ]:
# Although list2 = list1 creates a new variable named list 2
# list2 will only be a reference to list1, and 
# changes made in list1 will automatically also be made in list2
mixed_list = [100, 9.4, "examples", '8.334', True, None]
copy_list = mixed_list

del mixed_list[5]
print(copy_list, len(copy_list), id(copy_list))
print(mixed_list, len(mixed_list), id(mixed_list))

del mixed_list
print(copy_list, len(copy_list), id(copy_list))
# print(mixed_list)  # NameError

[100, 9.4, 'examples', '8.334', True] 5 140395577831904
[100, 9.4, 'examples', '8.334', True] 5 140395577831904
[100, 9.4, 'examples', '8.334', True] 5 140395577831904

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None]
copy_list = mixed_list.copy()
print(copy_list, len(copy_list), id(copy_list))
print(mixed_list, len(mixed_list), id(mixed_list))

[100, 9.4, 'examples', '8.334', True, None] 6 140395577831824
[100, 9.4, 'examples', '8.334', True, None] 6 140395596352480

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None]
copy_list = list(mixed_list)
print(copy_list, len(copy_list), id(copy_list))
print(mixed_list, len(mixed_list), id(mixed_list))

[100, 9.4, 'examples', '8.334', True, None] 6 140395578740640
[100, 9.4, 'examples', '8.334', True, None] 6 140395578290000

## index() and count() methods
index() returns the index of the first element with the specified value

count() returns the number of elements with the specified value

In [ ]:
mixed_list = [100, 9.4, "examples", '8.334', True, None, 100, None]
print(mixed_list.index(None), mixed_list.count(None))

5 2